:root {
    --cell-size: 40px;
    --board-size: 10;

    --highlighted-tile-color: #cbfbcb;
    --checked-tile-color: #73d691;
    --ship-tile-color: #93a3ad;
    --ship-dead-color: #ff5c40;
}

p, button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-panels {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
}

.game-panel {
    display: flex;
    flex-direction: column;
}

.board-grid {
    border: 1px solid black;

    display: grid;
    grid-template-columns: repeat(var(--board-size), var(--cell-size));
    grid-template-rows: repeat(var(--board-size), var(--cell-size));
}

.rotate-button {
    margin-top: 30px;
    font-size: 1.5em;
}

.board-cell {
    border: 1px solid black;

    width: var(--cell-size);
    height: var(--cell-size);
}


.output-text {
    font-size: 2em;
    height: 40px;
}


.highlighted {
    background-color: var(--highlighted-tile-color);
}

.cell-checked {
    background-color: var(--checked-tile-color);
}

.live-ship-cell {
    background-color: var(--ship-tile-color);
}

.dead-ship-cell {
    background-color: var(--ship-dead-color);
}
