:root {
    --cell-size: 40px;
    --board-size: 10;

    --highlighted-tile-color: #cbfbcb;
    --checked-tile-color: #73d691;
    --ship-tile-color: #93a3ad;
    --ship-dead-color: #ff5c40;
}

div {
    border: 1px solid black;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
}

.game-panel {
    display: flex;
    flex-direction: column;
}

.gameboard {

}

.board-grid {
    display: grid;
    grid-template-columns: repeat(var(--board-size), var(--cell-size));
    grid-template-rows: repeat(var(--board-size), var(--cell-size));
}

.board-cell {
    width: var(--cell-size);
    height: var(--cell-size);
}


.cell-checked {
    background-color: var(--checked-tile-color);
}

.live-ship-cell {
    background-color: var(--ship-tile-color);
}

.dead-ship-cell {
    background-color: var(--ship-dead-color);
}

.highlighted {
    background-color: var(--highlighted-tile-color);
}
