:root {
    --cell-size: 40px;
}

div {
    border: 1px solid black;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
}

.game-panel {
    display: flex;
    flex-direction: column;
}

.gameboard {

}

.board-grid {
    display: flex;
    flex-direction: column;
}

.board-row {
    display: flex;
    flex-direction: row;
}

.board-cell {
    width: var(--cell-size);
    height: var(--cell-size);
}